{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h2>TODO List</h2>
    <a href="{% url 'tasks:task_add' %}" class="btn btn-primary mb-4">Add task</a>

    <div class="task-list">
        {% for task in tasks %}
        <div class="task-item">
            <h5>{{ task.content }} <span class="{% if task.done %}done{% else %}not-done{% endif %}">{{ task.done|yesno:"Done,Not done" }}</span></h5>
            <p><small>Created: {{ task.created|date:"M d, Y, H:i p" }}{% if task.deadline %}, Deadline: {{ task.deadline|date:"M d, Y, H:i p" }}{% endif %}</small></p>
            <p>Tags: {% for tag in task.tags.all %}{{ tag.name }} {% endfor %}
                <a href="{% url 'tasks:task_update' task.pk %}" class="btn btn-secondary btn-sm">Update</a>
                <a href="{% url 'tasks:task_delete' task.pk %}" class="btn btn-secondary btn-sm">Delete</a>
            </p>
            <a href="{% url 'tasks:toggle_task' task.pk %}" class="btn {% if task.done %}btn-secondary{% else %}btn-success{% endif %} btn-sm">{{ task.done|yesno:"Undo,Complete" }}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
